body {
  font-weight: normal;
  background-color: white;
}

.linenum { color: #000000; }

.keyword {
  color: black;
  font-weight: bold;
  text-decoration: underline;
}

.type {
  color: black;
  font-weight: bold;
}

.string {
  color: gray;
}

.comment {
  color: #222222;
  font-style: italic;
}

.number {
  color: black;
}

